﻿@{
    Layout = "~/Areas/admin/views/shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Quản lý danh mục
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
            <li class="active">Danh mục </li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Bordered Table</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Tên</th>
                                    <th>Slug</th>
                                    <th>Mô tả</th>
                                    <th>Ngày tạo</th>
                                    <th>Người tạo</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> 1 </td>
                                    <td> Rau củ </td>
                                    <td> rau-cu </td>
                                    <td> Mô tả rau củ </td>
                                    <td> 22-04-2023</td>
                                    <td> system</td>
                                    <td>
                                        <button class="btn btn-primary"> Sửa</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Thêm/sửa thông tin danh mục</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    
                        <div class="box-body">
                            <input type="number" id="id" hidden/>
                            <div class="form-group">
                                <label for="name">Tên</label>
                                <input type="text" class="form-control" id="name" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="slug">Slug</label>
                                <input type="text" class="form-control" id="slug" placeholder="">
                            </div>
                            <div class="form-group">
                                <lable for="description">Mô tả</lable>
                                <textarea class="form-control" rows="3" id="description"></textarea>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="button" onclick="addCategory()" class="btn btn-primary">Lưu</button>
                        </div>
                 
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts
{
    <script>
        let lstcate = [];
        $(document).ready(function () {
            getList();
        });
        function getList() {
            $.ajax({
                url: "/admin/category/getList",
                type: "GET",
                contentType: "application/json",
                beforeSend: function () {
                    console.log("before send...!");
                },
                success: function (res) {
                    if (res && res.length > 0) {
                        lstcate = res;
                        $('.data-table tbody').html('');
                        for (let i = 0; i < res.length; i++) {
                            let cate = res[i];
                            let html = `<tr>
                                    <td> ${i + 1} </td>
                                    <td> ${cate.name} </td>
                                    <td> ${cate.slug} </td>
                                    <td> ${cate.description} </td>
                                    <td> ${cate.createdDate}</td>
                                    <td> ${cate.createdBy}</td>
                                    <td>
                                        <button class="btn btn-primary" onclick="editCategory(${cate.id})"> Sửa</button>
                                    </td>
                                </tr>`;
                            $('.data-table tbody').append(html);

                        }
                    }
                },
                error: function (error) {
                    console.log(error);
                }

            });
        }
        
        function addCategory() {
            let id = $('#id').val();

            let obj = {
                Id: id? id: 0,
                Name: $('#name').val(),
                Slug: $('#slug').val(),
                Description: $('#description').val()
            }

            $.ajax({
                url: "/admin/category/addCategory",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(obj),
                beforeSend: function () {
                    console.log("loading...");
                },
                success: function (res) {
                    if (res > 0) {
                        if (obj.Id > 0) {
                            alert("Cập nhập thông tin danh mục thành công!");
                        } else {
                            alert("Thêm mới danh mục thành công!");
                        }
                        $('#id').val(0);
                        $('#name').val('');
                        $('#slug').val('');
                        $('#description').val('');
                        getList();
                    } else {
                        alert("Thêm mới danh mục thất bại!");
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }

        function editCategory(id) {
            let cate = lstcate.find(x => x.id == id);
            if (cate) {
                $('#id').val(cate.id);
                $('#name').val(cate.name);
                $('#slug').val(cate.slug);
                $('#description').val(cate.description);
            }
        }
    </script>
}
